* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 600px;
	margin: 0px auto;
	border: 3px solid #931240;
	background-color: #fffded;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #931240;
	padding-top: 1.5em;
	padding-bottom: 2em;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

header img {
	float: left;
	padding: 0 30px;
}

/* the styles for the section */
main {
	clear: left;
	padding: 0 30px;
}

main h1 {
	font-size: 150%;
	border-top: 3px solid #931240;
	border-bottom: 3px solid #931240;
}

main h2 {
	font-size: 130%;
	color: #800000;
}

main h3 {
	font-size: 105%;
}

a:focus {
	font-style: italic;
}

a:hover {
	font-style: italic;
}
/* the styles for the footer */

footer {
	border-top: 3px solid #931240;
	background-color: #931240;
}

footer p {
	text-align: center;
	color: white;
}

.shadow {
	text-shadow: 2px 2px #800000;
}