/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 600px;
	margin: 0px auto;
	border: 3px solid #931240;
}

/* the styles for the header */
header h2 {
	font-size: 170%;
	color: #800000;
	text-indent: 30px;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
}

header img {
	float: left;
}

/* the styles for the section */
main {
	clear: left;
}

main h1 {
	font-size: 150%;
}

main h2 {
	font-size: 130%;
	color: #800000;
}

main h3 {
	font-size: 105%;
}

a:focus {
	font-style: italic;
}

a:hover {
	font-style: italic;
}
/* the styles for the footer */

footer p {
	text-align: center;
}

.shadow {
	text-shadow: 2px 2px #800000;
}